<div class="result-title"><b>#field('name')</b><span class="mlt">#if($params.getBool('mlt', false) == false)<a href="#lensNoQ&q=id:$docId&mlt=true">More Like This</a>#end</span></div>

##set($title = $doc.getFieldValue('title'))
##set($link = $doc.getFieldValue('link'))
##set($description = $doc.getFieldValue('description'))
##set($author = $doc.getFieldValue('author'))
##<div>Title: $title</div>	
##<div>Link: <a href="$link">$link</a></div>
##<div>Author: $author</div>
##<div>Comment: $description</div>

##set($brokenLink = $link.substring(18, $link.length()))
##set($brokenLink2 = $brokenLink.substring(0, $brokenLink.indexOf('/')))
##set($titleNo = $brokenLink.substring(0, $brokenLink.indexOf('-')))
##set($sectionNo = $brokenLink.substring($titleNo.length(), $brokenLink.indexOf('/')))
##set($sectionNo = $sectionNo.substring(1, $sectionNo.length()))
##<div>Posted: $doc.getFieldValue('post_date')</div>
##<div>Title: $titleNo</div>
##<div>Section: $sectionNo</div>

##Display for RSS Comment Feed
#set($title = $doc.getFieldValue('title'))
#set($link = $doc.getFieldValue('link'))
#set($description = $doc.getFieldValue('description'))
#set($author = $doc.getFieldValue('author'))
#set($brokenLink = $link.substring(18, $link.length()))
#set($brokenLink2 = $brokenLink.substring(0, $brokenLink.indexOf('/')))
#set($titleNo = $brokenLink.substring(0, $brokenLink.indexOf('-')))
#set($sectionNo = $brokenLink.substring($titleNo.length(), $brokenLink.indexOf('/')))
#set($sectionNo = $sectionNo.substring(1, $sectionNo.length()))
#if($doc.getFieldValue('doc_type') == "Law")
	<div>Title: $doc.getFieldValue('law_title')</div>
	<div>Id: $doc.getFieldValue('id')</div>
	<div>Section: $doc.getFieldValue('law_code') $doc.getFieldValue('law_section')</div>
	<div>Law Text: $doc.getFieldValue('law_text')</div>
	<div>Tags: $doc.getFieldValue('tags')</div>
#elseif ($doc.getFieldValue('doc_type') == "Comment")
	<div>Link: <a href="$link">$link</a></div>
	<div>Author: $author</div>
	<div>Comment: $description</div>
	<div>Title: $titleNo</div>
	<div>Section: $sectionNo</div>
#elseif ($doc.getFieldValue('doc_type') == "Definition")
	<div>Term: $doc.getFieldValue('def_term')</div>
	<div>Id: $doc.getFieldValue('key')</div>
	<div>Scope: $doc.getFieldValue('def_scope')</div>
	<div>Definition: $doc.getFieldValue('def_text')</div>
#elseif ($doc.getFieldValue('doc_type') == "Court_Decision")
	<div>ID: $doc.getFieldValue('key')</div>
	<div>Decision Date: $doc.getFieldValue('court_date')</div>
	<div>Decision Name: $doc.getFieldValue('court_name')</div>
	<div>Decision Summary: $doc.getFieldValue('court_abstract')</div>
	<div>Decision: $doc.getFieldValue('court_decision')</div>
#end
##Display for SQL Laws Feed
##<div>Title: $doc.getFieldValue('law_code')</div>
##<div>Section: $doc.getFieldValue('law_section')</div>

<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  <div>MLT Size: $mltResults.get($docId) </div>
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('key'))
	<div>Item Key: $mltId</div>
    #end
  </ul>
  #elseif($mltOn)
    <div>No Similar Items Found</div>
  #end
</div>
#if($params.getBool("debugQuery",false))
  <a href="#" onclick='jQuery(this).siblings("pre").toggle(); return false;'>toggle explain</a>
  <pre style="display:none">$response.getExplainMap().get($doc.getFirstValue('id'))</pre>
  <a href="#" onclick='jQuery(this).siblings("pre2").toggle(); return false;'>toggle all fields</a>
  <pre2 style="display:none">
  #foreach($fieldname in $doc.fieldNames)
     <br>
       <span class="field-name">$fieldname :</span>
       <span>
       #foreach($value in $doc.getFieldValues($fieldname))
         $value
       #end
       </span>
  #end
   </br>
  </pre2>
#end
